# Виртуальное окружение
venv/
env/
ENV/

# Базы данных SQLite (их лучше не хранить в репозитории)
*.sqlite3
db.sqlite3

# Кэш Python
__pycache__/
*.py[cod]
*$py.class

# Настройки среды (секретные ключи, пароли)
.env

# Логи и файлы отладки
*.log

# Файлы операционной системы
.DS_Store
Thumbs.db

# Статика (если собирается локально)
staticfiles/
media/